/**
 * Style Override
 */
.headerInner {
	padding:10px 0 10px;
}
.textHeader {
	line-height:29px;
}
.hBlock {
	padding-top:6px;
}
#header .tag {
	position:relative;
	display:inline-block;
	margin-left:12px;
	padding:3px 14px 3px;
	border:1px solid #979797;
	border-radius:15px;
	-ms-border-radius:15px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	background:#FFF;
	color:#000;
	font-size:18px;
	font-weight:bold;
	vertical-align:middle;
	behavior:url(../js/PIE.php);
}
.checkbox input[type="checkbox"] + label.empty {
	padding:0 0 0 18px !important;
	margin:0 !important;
}
.tableEvent th span.checkbox {
	display:inline;
}
.tableGame td span{
	display:inline-block;
	height:18px;
}
.tableEvent tr.blue {
	background:#F0FAFE;
}
.tableEvent tr.orange {
	background:#FFFBF0;
}
.statusList .radio {
	display:block;
	margin-bottom:4px;
}
.statusList .radio label {
	padding:0 0 0 22px !important;
	text-align:left;
}
.status {
	display:inline-block;
}
.headBox01 .groupList .radio {
	width:auto;
	min-width:90px;
}
.wrapGroupList .heat {
	width:auto !important;
	padding:15px 10px;
}
/**
 * Style Custom
 */
#findtourname {
	width:455px;
}

.imageUpload .image {
	height:auto;
}
.imageUpload .image img{
	max-width:100%;
}
.input-textarea {
	vertical-align:middle;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	min-height:42px;
	padding:12px 20px 15px;
	border:1px solid #B8BECC;
	box-shadow:inset 0 1px 2px #DEDCDB;
	color:#373B43;
	font-size:14px;
	outline:none;
}