@charset "UTF-8";
/* ****************************************************************** 
	--admin.css--
****************************************************************** */
/* ------------------------------------------------------------------
	Base styles
-------------------------------------------------------------------*/
* {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
body {
	min-width:1280px;
	font-size:14px;
}
#main {
	width:1200px;
	margin:0 auto;
	padding:20px 0 34px;
}
.buttonStyle,
a.buttonStyle,
.buttonGeneral {
	display:block;
	padding:18px 10px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
	border:none;
	width:340px;
	box-shadow:none;
	font-size:20px;
	font-weight:bold;
	background:#010101;
	color:#FFF;
	text-align:center;
	text-decoration:none;
	cursor:pointer;
	position:relative;
	z-index:10;
	behavior:url(../js/PIE.php);
}
.buttonGeneral.buttonGeneral01 {
	border:2px solid #4A4A4A;
	background:#FFF;
	color:#5C5C5C;
	font-size:18px;
}
.buttonGeneral.buttonGeneral02 {
	width:280px;
	padding:11px 10px 7px;
}
a.buttonStyle {
	background:#9b9b9b;
	width:160px;
}
.buttonCustom,
a.buttonCustom,
.againButton,
a.againButton {
	display:block;
	min-height:16px;
	padding:2px 2px 5px;
	background:#4A4A4A;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	border:1px solid #BBB;
	color:#FFF;
	text-align:center;
	line-height:1.2;
	cursor:pointer;
	text-decoration:none;
	position:relative;
	z-index:10;
	behavior:url(../js/PIE.php);
}
input.buttonCustom {
	padding:3px 2px 3px;
}
.headline1 {
	font-size:30px;
	color:#5C5C5C;
	line-height:1.5;
}
.headline2 {
	font-size:30px;
	color:#5C5C5C;
	line-height:1.5;
}
.headTitle,
.tableInfo .headTitle th {
	padding:11px 20px 16px;
	background:#929292;
	color:#FFF;
	font-size:18px;
	font-weight:bold;
	text-align:left;
}
input[type="password"],
input[type="text"] {
	position:relative;
	z-index:10;
	behavior:url(../js/PIE.php);
}
input[type="password"],
input[type="text"], select {
	height:42px;
	padding:12px 15px 13px;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	background:#FFF;
	border:1px solid #B8BECC;
	box-shadow:inset 0 1px 2px #DEDCDB;
	color:#373B43;
	font-size:14px;
	outline:none;
	box-sizing:border-box;
	-pie-background:url(../img/admin/bg_select01.gif) no-repeat 0 0;
}
input[type="text"] {
	height:44px;
	padding:12px 20px 15px;
}
.select {
	display:block;
	overflow:hidden;
	border:1px solid #B8BECC;
	border-radius:4px;
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	background:#FFF url(../img/admin/icon_arrow03.gif) no-repeat 100% 50%;
	-pie-background:url(../img/admin/icon_arrow03.gif) no-repeat 100% 50%,url(../img/admin/bg_select01.gif) no-repeat 0 0;
	position:relative;
	z-index:10;
	behavior:url(../js/PIE.php);
}
select::-ms-expand{
	display:none;
}
.select select {
	width:100%;
	width:145%\0;
	border:none;
	background:none;
	cursor:pointer;
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
}
@media screen and (-ms-high-contrast:active), (-ms-high-contrast:none) {
.select select {
	width:100%;
	}
}
:root .select select {
	width:145%\9;
}
select:-moz-focusring {
	color:transparent;
	text-shadow:0 0 0 #000;
}
.select select option {
	width:100%;
	outline:0;
}
/* radio styles */
.radio {
	display:inline-block;
	vertical-align:middle;
	overflow:hidden;
	position:relative;
}
.radio input[type="radio"] {
	position:absolute;
	float:left;
	left:0;
	width:18px;
	height:18px;
	margin:0;
	padding:0;
	cursor:pointer;
	opacity:0;
}
.radio input[type="radio"] + label {
	display:block;
	background:url(../img/admin/icon_radio01.gif) 0 0 no-repeat;
	height:18px;
	padding:0 18px 0 25px;
	color:#606060;
	cursor:pointer;
}
.radio input[type=radio]:focus + label {
	background:url(../img/admin/icon_radio01.gif) 0 0 no-repeat;
}
.radio input[type=radio]:checked + label,
.radio input[type=radio]:focus:checked + label,
.radio input[type=radio]:active + label,
.radio input[type=radio]:active:checked + label {
	background:url(../img/admin/icon_radio02.gif) 0 0 no-repeat;
}

/* radio styles large */
.radioLarge {
	display:inline-block;
	vertical-align:middle;
	overflow:hidden;
	position:relative;
}
.radioLarge input[type="radio"] {
	padding:0;
	margin:0;
	height:37px;
	width:37px;
	float:left;
	position:absolute;
	left:0;
	opacity:0;
}
.radioLarge input[type="radio"] + label {
	display:block;
	background:url(../img/admin/icon_radio03.gif) 0 0 no-repeat;
	height:37px;
	padding:0 0 0 37px;
	font-size:0;
	margin:0;
}
.radioLarge input[type=radio]:focus + label {
	background:url(../img/admin/icon_radio03.gif) 0 0 no-repeat;
}
.radioLarge input[type=radio]:checked + label,
.radioLarge input[type=radio]:focus:checked + label,
.radioLarge input[type=radio]:active + label,
.radioLarge input[type=radio]:active:checked + label {
	background:url(../img/admin/icon_radio04.gif) 0 0 no-repeat;
}

/* checkbox styles */
.checkList01 li {
	display:inline-block;
	margin:0 0 12px;
	vertical-align:top;
	width:29%;
}
.checkbox {
	display:inline-block;
	vertical-align:middle;
	overflow:hidden;
	position:relative;
}
.checkbox input[type="checkbox"] {
	position:absolute;
	float:left;
	left:0;
	width:18px;
	height:18px;
	margin:0;
	padding:0;
	cursor:pointer;
	opacity:0;
}
.checkbox input[type="checkbox"] + label {
	display:block;
	background:url(../img/admin/icon_check03.png) 0 0 no-repeat;
	height:18px;
	padding:0 24px 0 25px;
	color:#606060;
	cursor:pointer;
}
.checkbox input[type=checkbox]:focus + label {
	background:url(../img/admin/icon_check03.png) 0 0 no-repeat;
}
.checkbox input[type=checkbox]:checked + label,
.checkbox input[type=checkbox]:focus:checked + label,
.checkbox input[type=checkbox]:active + label,
.checkbox input[type=checkbox]:active:checked + label {
	background:url(../img/admin/icon_check04.png) 0 0 no-repeat;
}

/* Width common */
.tableStyle .size01 {
	width:770px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
.tableStyle .size02 {
	width:100px;
}
.tableStyle .size03 {
	width:80px;
}
.tableStyle .size04 {
	width:325px;
}
.tableStyle .size05 {
	width:200px;
}
.tableStyle .size06 {
	width:50px;
}
.tableStyle .size07 {
	width:70px;
}
.tableStyle .size08 {
	width:44px;
}
.tableStyle input.size06,
.tableStyle input.size07,
.tableStyle input.size08 {
	padding:12px 5px 15px;
	text-align:center;
}
.tableStyle .size09 {
	width:90px;
}
.tableStyle .size10 {
	width:670px;
}
.tableStyle .size11 {
	width:75px;
}
.tableStyle .size12 {
	width:180px;
}
.modalContent .size01 {
	width:200px;
}
.modalContent .size02 {
	width:180px;
}
.modalContent .size03 {
	width:460px;
}
.modalContent .size04 {
	width:100px;
}

/* Gender*/
.chooseBox p,
.chooseBox p input {
	display:none;
}
.chooseBox .chooseList {
	border:1px solid #B8BECC;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
}
.chooseBox .chooseList li {
	float:left;
	width:78px;
	margin:0;
	border-right:1px solid #B8BECC;
	box-shadow:inset 0 1px 2px #DEDCDB;
	-webkit-box-shadow:inset 0 1px 2px #DEDCDB;
	-moz-box-shadow:inset 0 1px 2px #DEDCDB;
	text-align:center;
	cursor:pointer;
	outline:none;
	box-sizing:border-box;
	-pie-background:url(../img/admin/bg_select01.gif) no-repeat 0 0;
}
.chooseBox .chooseList li:first-child {
	border-radius:4px 0 0 4px;
}
.chooseBox .chooseList li.last {
	border-right:none;
	border-radius:0 4px 4px 0;
}
.chooseBox .chooseList li label {
	display:block;
	margin:0;
	padding:10px 15px 13px;
	background:#FFF;
	color:#000;
	font-size:14px;
	cursor:pointer;
}
.chooseBox .chooseList label.checked {
	background:#000;
	color:#FFF;
}

/* Head Box */
.headBox {
	padding-bottom:20px;
}
.headBox .headline1 {
	float:left;
	width:30%;
}
.headBox .boxGroup {
	float:right;
	width:69%;
	text-align:right;
}
.headBox .result {
	display:inline-block;
	vertical-align:middle;
	padding:3px 14px 0 0;
	color:#5C5C5C;
	font-size:18px;
	max-width:92px;
	width:100%;
}
.headBox01 {
	padding-bottom:25px;
}
.headBox01 .headline1 {
	width:450px;
}
.headBox01 .groupList {
	float:right;
	width:755px;
	margin:37px -5px 0 0;
	text-align:right;
}
.headBox01 .groupList .radio {
	width:90px;
}
.headBox02 .headline1 {
	width:200px;
}
.headBox02 .groupList {
	float:right;
	width:1000px;
	margin-right:-5px;
	text-align:right;
}
.headBox02 .groupList .radio {
	width:70px;
}
/* Lead Box */
.leadBox {
	display:inline-block;
	vertical-align:middle;
}
.leadBox li {
	float:left;
	width:310px;
	margin-left:10px;
	border:1px solid #9B9B9B;
}
.leadBox li a {
	display:block;
	color:#5C5C5C;
	font-size:18px;
	text-align:center;
	text-decoration:none;
}
.leadBox li a:hover, .leadBox li a.active {
	background:#DBD9D8;
}
.leadBox li a span {
	display:inline-block;
	padding:12px 0 14px 36px;
	font-weight:bold;
}
.leadBox li a.buttonSearch span {
	background:url(../img/admin/icon_search.png) no-repeat 0 50%;
}
.leadBox li a.buttonAdd span {
	background:url(../img/admin/icon_add.png) no-repeat 0 50%;
}
.leadBox li a.buttonOrder span {
	background:url(../img/admin/icon_arrow04.png) no-repeat 0 50%;
}
.leadBox li a.buttonFinal span {
	background:url(../img/admin/icon_list.png) no-repeat 0 50%;
}

/* Page Link */
.pageLinkWrapper {
	width:1200px;
	text-align:center;
}
.pageLink {
	display:inline-block;
	font-size:0;
	text-align:center;
}
.pageLink li {
	float:left;
	vertical-align:middle;
}
.pageLink li a {
	display:block;
	min-width:36px;
	min-height:36px;
	padding:8px 8px 9px;
	background:#F9F9F9;
	color:#000;
	border:1px solid #BBB;
	border-left:0;
	font-size:14px;
	text-decoration:none;
	position:relative;
	z-index:10;
	behavior:url(../js/PIE.php);
}
.pageLink li a:hover,
.pageLink li.active a {
	background:#9B9B9B;
	color:#FFF;
}
.pageLink li a img {
	padding-top:3px;
}
.pageLink li.first,
.pageLink li.last {
	margin:0 4px;
}
.pageLink li.first a,
.pageLink li.last a {
	padding:7px 12px 9px 14px;
	border-radius:4px;
	-webkit-border-radius:4px;
	border:1px solid #BBB;
}
.pageLink li.prev a {
	border-left:1px solid #BBB;
	border-radius:3px 0 0 3px;
	-webkit-border-radius:3px 0 0 3px;
}
.pageLink li.next a {
	border-radius:0 3px 3px 0;
	-webkit-border-radius:0 3px 3px 0;
}

/* modal */
.modal {
	display:none;
	width:800px;
	min-height:600px;
	background:#000;
	color:#FFF;
	border:1px solid #FFF;
	z-index:1001;
	position:absolute;
}
.overlay {
	display:none;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:#000;
	z-index:1000;
}
.close {
	background:#F5F5F5;
	border:1px solid #979797;
	position:absolute;
	top:-1px;
	right:-1px;
}
.close a {
	display:block;
	width:38px;
	padding:9px 10px 10px;
	text-align:center;
}
.modalContent {
	padding:24px 20px 40px;
}
.hModal {
	padding-bottom:28px;
	font-size:24px;
	text-align:center;
}
.modal .question {
	margin:13px 0 54px;
	color:#FFF;
	font-size:16px;
	font-weight:bold;
	text-align:center;
}

/* Search Box */
.searchBox {
	margin:0 auto;
	max-width:460px;
	width:100%;
}
.searchBox input,
.searchBox .select {
	position:static;
	z-index:0;
	behavior:none;
}
input[type=submit],
input[type=button] {
	border:none;
	outline:none;
	-webkit-appearance:none;
	-moz-appearance:none;
	-webkit-border-radius:none;
	appearance:none;
	cursor:pointer;
}
input.datetime {
	background:#FFF url(../img/admin/icon_date.png) no-repeat 95% 50%;
}
.btnCancel { float:left; }
.btnCancel input {
	background:#000;
	color:#FFF;
	border:1px solid #FFF;
	width:160px;
	padding:13px 5px 11px;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	font-size:16px;
	font-weight:bold;
	text-decoration:none;
	text-align:center;
}
.btnSubmit { float:right; }
.btnSubmit input {
	background:#949494;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	color:#FFF;
	font-size:16px;
	font-weight:bold;
	padding:14px 5px 12px;
	width:240px;
}

/* sheet */
.sheet {
	margin-bottom:12px;
}
.sheet table { width:100%; }
.sheet .labelCss {
	display:block;
	margin:0;
	padding-bottom:7px;
	font-size:16px;
	font-weight:bold;
}
.sheet td {
	padding-bottom:18px;
}
.sheet .tilde {
	padding:0 19px 0 21px;
}

/* Table Styles */
.tableInfo {
	margin-bottom:20px;
}
.tableInfo table {
	width:100%;
	margin-bottom:20px;
}
.tableInfo th, .tableInfo td {
	border:1px solid #9B9B9B;
}
.tableInfo th {
	padding:6px 2px 5px;
	background:#484848;
	color:#FFF;
	text-align:center;
}
.tableInfo td {
	padding:15px 13px 17px;
	line-height:1.5;
	word-break: break-all;
}
.tableStyle {
	margin-bottom:20px;
}
.tableStyle table {
	width:100%;
}
.tableStyle th,
.tableStyle td {
	font-size:14px;
	padding:12px 20px 12px 18px;
	border:1px solid #9B9B9B;
}
.tableStyle td {
	vertical-align:middle;
	height:44px;
	color:#606060;
}
.tableStyle th {
	color:#FFF;
	background:#484848;
	width:250px;
	vertical-align:top;
	padding:25px 20px 25px 18px;
}
.tableStyle th.size448 {
	width:440px;
	background:#FFF;
	color:#000;
}
.tableStyle th.size163 {
	width:163px;
}
.colSelect ul li {
	display:table-cell;
	vertical-align:middle;
	height:44px;
	padding:12px 20px 12px 18px;
	border-right:1px solid #9b9b9b;
	text-align:center;
}
.colSelect ul li:last-child {
	border:none;
}
.tableStyle th.colSelect {
	padding:0;
	background:none;
	color:#010101;
}
.colSelect ul li.colSelect01 {
	width:399px;
	padding-left:29px;
}
/* Gray Box */
.grayBox {
	background:#F5F5F5;
}
.grayBox .wrapHeadline {
	width:1060px;
	margin:0 auto;
	padding:20px 0 25px;
}
.grayBox .wrapInfoLink {
	border-top:1px solid #C6C6C6;
	border-bottom:1px solid #C6C6C6;
}
.grayBox .infoLink {
	width:1060px;
	margin:0 auto;
}
.grayBox .infoLink li {
	float:left;
	width:352px;
	border-right:1px solid #C6C6C6;
	text-align:center;
}
.grayBox .infoLink li a {
	display:block;
	padding:10px;
	color:#5C5C5C;
	font-size:16px;
}
.grayBox .infoLink li.active a,
.grayBox .infoLink li:hover a {
	background:#494949;
	color:#FFF;
	text-decoration:none;
}
.grayBox .infoLink li:first-child {
	border-left:1px solid #C6C6C6;
}

/* buttonGroup */
.buttonGroup ul {
	display:inline-block;
	width:75px;
	vertical-align:middle;
}
.buttonGroup .radio {
	display:block;
	margin-top:2px;
}
.buttonGroup li:first-child {
	margin-top:0;
}
.buttonGroup .radio input[type="radio"] + label {
	margin:0;
	padding:0 0 0 19px;
}
.buttonGroup label {
	text-align:left;
}
.buttonGroup p {
	display:inline-block;
	width:60px;
	vertical-align:middle;
}
.buttonGroup .buttonCustom {
	width:100%;
	border:1px solid #BBB;
}

a.link {
	display:block;
	padding-left:30px;
	background:url(../img/admin/icon_screen.png) no-repeat 0 50%;
	color:#000;
}

/* ------------------------------------------------------------------
	Header styles
-------------------------------------------------------------------*/
#header {
	background:#484848;
	color:#FFF;
}
.headerInner {
	width:1200px;
	margin:0 auto;
	padding:12px 0 8px;
}
.textHeader {
	float:left;
	font-size:20px;
	font-weight:bold;
	color:#FFF;
}
.textHeader .tag {
	position:relative;
	display:inline-block;
	min-width:120px;
	margin-left:12px;
	padding:1px 14px 5px;
	border:1px solid #979797;
	border-radius:15px;
	-ms-border-radius:15px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	background:#FFF;
	color:#000;
	font-size:18px;
	font-weight:bold;
	vertical-align:middle;
	text-align:center;
	behavior:url(../js/PIE.php);
}
.hBlock {
	float:right;
	padding-top:4px;
}
.hList {
	float:left;
	margin-top:-2px;
}
.hList li {
	float:left;
	padding:0 14px;
}
.hList li:first-child {
	border-right:1px solid #FFF;
}
.hList li a {
	color:#FFF;
	text-decoration:underline;
}
.hList li a:hover {
	text-decoration:none;
}
#header .rightBox span {
	display:inline-block;
	margin-top:-2px;
	padding:0 5px 0 19px;
	vertical-align:top;
}
/* ------------------------------------------------------------------
	Footer styles
-------------------------------------------------------------------*/
#footer {
	z-index:99;
	padding:10px 0 12px;
	background:#484848;
	color:#FFF;
	text-align:center;
}
#footer.fix {
	position:fixed;
	left:0;
	right:0;
	bottom:0;
}
#copyright {
	margin:0 auto;
	width:1060px;
}
/********** Login Page **********/
.loginBlock {
	text-align:center;
}
.boxLogin {
	position:relative;
	width:350px;
	margin:25px auto;
	padding:15px 10px;
	border:1px solid #E5E5E5;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
	background:#FDFEFF;
	z-index:10;
	behavior:url(../js/PIE.php);
}
.loginBlock input.buttonCustom {
	width:100%;
	margin:17px 0 15px;
	padding:17px 0 21px;
	border:0;
	font-size:20px;
	outline:0;
	cursor:pointer;
	background:#000;
}
.boxLogin .textBox input {
	width:100%;
	height:auto;
	margin:0;
	padding:25px 17px 26px;
	-webkit-border-radius:0 0 2px 2px;
	-moz-border-radius:0 0 2px 2px;
	border-radius:0 0 2px 2px;
	border:1px solid #E5E5E5;
	box-sizing:border-box;
	box-shadow:none;
	font-size:18px;
}
.boxLogin .passwordField {
	background:#FFF url(../img/admin/txt_pass.gif) 17px 50% no-repeat;
}
.boxLogin .textBox .idField {
	background:#FFF url(../img/admin/txt_user.gif) 17px 50% no-repeat;
	-webkit-border-radius:2px 2px 0 0;
	-moz-border-radius:2px 2px 0 0;
	border-radius:2px 2px 0 0;
	border-bottom:0;
}
.boxLogin .textBox input:focus {
	background:#FFF;
}
.boxLogin .textBox .idField.fillField,
.boxLogin .textBox .passwordField.fillField {
	background:#FFF;
}
.boxLogin.refereeLogin .select {
	margin-bottom:11px;
	border-color:#E5E5E5;
	border-radius:2px;
}
.boxLogin.refereeLogin .select select {
	height:63px;
	border-radius:0px;
	font-size:18px;
	box-shadow:0 0 0;
}
.boxLogin.refereeLogin .textBox input {
	padding:21px 17px 24px;
	border-radius:2px;
}
.loginBlock .refereeLogin input.buttonCustom {
	padding:15px 0 19px;
}
.loginBlock .remember {
	float:left;
	font-size:12px;
}
.loginBlock .remember input {
	float:left;
}
.loginBlock .forget {
	float:right;
	font-size:12px;
}
.loginBlock .forget a {
	color:#010101;
	text-decoration:underline;
}
.loginBlock .forget a:hover {
	text-decoration:none;
}
p.remember > input {
	margin:0;
	height:16px;
	width:16px;
	float:left;
	position:absolute;
	left:10px;
	opacity:0;
}
p.remember > label {
	padding:0 0 0 23px;
}
p.remember > input + label {
	display:block;
	background:url(../img/admin/icon_check01.gif) 0 0 no-repeat;
	height:16px;
}
/* Checked styles */
p.remember > input[type=checkbox]:focus + label {
	background:url(../img/admin/icon_check01.gif) 0 0 no-repeat;
}
p.remember > input[type=checkbox]:checked + label,
p.remember > input[type=checkbox]:focus:checked + label,
p.remember > input[type=checkbox]:active + label,
p.remember > input[type=checkbox]:active:checked + label {
	background:url(../img/admin/icon_check02.gif) 0 0 no-repeat;
}
/********** Tournament List Page **********/
.tableTournament th.col01 {
	width:129px;
}
.tableTournament th.col03 {
	width:95px;
}
.tableTournament th.col04 {
	width:123px;
}
.tableTournament th.col05 {
	width:159px;
}
.tableTournament th.col06 {
	width:80px;
}
.tableTournament td {
	padding:9px 13px 7px;
}
.tableTournament td.col01 {
	padding:7px 9px 9px;
	text-align:center;
}
/********** Tournament Edit Page **********/
input.input[type="text"] {
	border:1px solid #b8becc;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	font-size:12px;
	padding:14px 10px 14px 19px;
	width:100%;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	background:url(../img/admin/bg_select01.gif) no-repeat 0 0;
	position:relative;
	behavior:url(../js/PIE.php);
}
.selectList li {
	float:left;
}
.selectList li p,
.selectList li div.transformSelect {
	display:inline-block;
	vertical-align:middle;
}
.labelCss {
	margin:0 8px 0 4px;
	padding:0;
}
.iconBg {
	background:url(../img/admin/icon_mark.gif) no-repeat 0 50%;
	padding:0 0 0 27px;
}
.rowInput p,
.rowInput ul {
	display:inline-block;
}
.rowInput p {
	width:74px;
}
.rowInput p.title {
	font-weight:bold;
}
.rowInput .inputList li {
	display:inline-block;
	padding:0 20px 0 0;
	vertical-align:middle;
}
.rowInput .labelCss {
	margin-right:4px;
}
.buttonList {
	margin:30px 0 0 0;
	text-align:right;
}
.buttonList li.editBtn {
	float:none;
	padding:0 20px 0 0;
	display:inline-block;
}
.buttonList li {
	float:left;
}
.buttonList li.submitButton {
	float:right;
}
.buttonList li.submitButton input {
	display:inline-block;
	margin-left:20px;
	vertical-align:bottom;
}
.tableStyle td.size242 {
	width:242px;
}
.tableStyle td.size210 {
	width:210px;
	background:#484848;
	color:#FFF;
}
/********** Player List Page **********/
.tablePlayer { margin-bottom:30px; }
.tablePlayer th.col01 {
	width:129px;
}
.tablePlayer th.col02 {
	width:80px;
}
.tablePlayer th.col03 {
	width:77px;
}
.tablePlayer th.col04 {
	width:59px;
}
.tablePlayer th.col05 {
	width:176px;
}
.tablePlayer th.col06 {
	width:70px;
}
.tablePlayer th.col07 {
	width:172px;
}
.tablePlayer th.col08 {
	width:50px;
}
.tablePlayer th.col09 {
	width:79px;
}
.tablePlayer th.col10 {
	width:305px;
}
.tablePlayer td {
	padding:16px 8px 17px;
	text-align:center;
}
.tablePlayer td.col01 {
	padding-left:20px;
	text-align:left;
}
.buttonBack a {
	width:100%;
}
.buttonBack.black a {
	background:#000;
}
/********** User List Page **********/
.tableUser th.col01 {
	width:114px;
}
.tableUser th.col02 {
	width:191px;
}
.tableUser th.col03 {
	width:238px;
}
.tableUser th.col04 {
	width:75px;
}
.tableUser td {
	padding:15px 17px 17px;
	text-align:left;
}
.tableUser td.col01 {
	text-align:center;
}
/********** Order Setting Page **********/
.tableOrder th.col01,
.tableOrder01 th.col01 {
	width:78px;
}
.tableOrder th.col02,
.tableOrder01 th.col02 {
	width:399px;
}
.tableOrder th.col03 {
	width:488px;
}
.tableOrder td,
.tableOrder01 td  {
	padding:10px 10px 13px;
	text-align:left;
}
.tableOrder td.col01 {
	text-align:center;
}
.tableOrder td.col04,
.tableOrder01 td.col04,
.tableOrder01 td.col05 {
	padding:12px 10px 11px;
	text-align:center;
}
.tableOrder .size01,
.tableOrder01 .size01 {
	width:40px;
	height:25px;
	text-align:center;
}
.tableOrder input,
.tableOrder01 input {
	padding:3px 10px;
}
.tableOrder01 th.col03 {
	width:250px;
}
.tableOrder01 th.col04 {
	width:229px;
}
/********** Event Game List Page **********/
.tableEvent th {
	font-size:12px;
}
.tableEvent th span {
	display:block;
	font-size:7px;
}
.tableEvent th.col01 {
	width:44px;
}
.tableEvent th.col02 {
	width:39px;
}
.tableEvent th.col03 {
	width:179px;
}
.tableEvent th.col04 {
	width:159px;
}
.tableEvent th.col05 {
	width:49px;
}
.tableEvent th.col06 {
	width:59px;
}
.tableEvent th.col07 {
	width:72px;
}
.tableEvent th.col08 {
	width:65px;
}
.tableEvent td {
	padding:9px 2px 9px;
	text-align:center;
}
.tableEvent td.col01 {
	padding:6px 10px;
	text-align:left;
}
.tableEvent td.col02 {
	color:#AFB8BD;
}
.tableEvent td.col03 {
	padding:6px 5px;
}
.tableEvent .againButton {
	margin:8px 4px 0;
}
.tableEvent .againGray {
	background:#BEC5C8;
}
/********** Umpire List Page **********/
.tableUmpire th.col01 {
	width:95px;
}
.tableUmpire th.col02 {
	width:557px;
}
.tableUmpire th.col03 {
	width:145px;
}
.tableUmpire th.col04 {
	width:98px;
}
.tableUmpire th.col05, .tableUmpire th.col06 {
	width:79px;
}
.tableUmpire td.col04, .tableUmpire td.col05, .tableUmpire td.col06 {
	text-align:center;
}
.tableUmpire td {
	padding:8px 16px;
}
.searchBox01 .textBox {
	margin-right:20px;
}
.searchBox01 .buttonSearch01 a {
	margin-left:2px;
}
/********** Game List Page **********/
.tableGame th {
	box-sizing:border-box;
}
.tableGame td {
	padding:17px 2px;
	box-sizing:border-box;
	text-align:center;
}
.tableGame .col01 {
	width:30px;
	padding-left:0;
	padding-right:0;
}
.tableGame th.col02 {
	width:44px;
}
.tableGame th.col03 {
	width:39px;
}
.tableGame th.col04 {
	width:204px;
}
.tableGame th.col05 {
	width:183px;
}
.tableGame th.col06 {
	width:79px;
}
.tableGame th.col07 {
	width:89px;
}
.tableGame th.col08 {
	width:72px;
}
.tableInfo .point {
	padding:9px 2px 2px;
}
.tableInfo .point span {
	font-weight:bold;
	line-height:1;
}
.tableInfo .point em {
	display:block;
	padding-top:6px;
	line-height:1.3;
	font-size:12px;
}
.tableInfo .point01 span {
	display:inline-block;
	margin-right:10px;
	vertical-align:middle;
}
.tableInfo .point01 a {
	display:inline-block;
	width:50px;
	vertical-align:middle;
}
.tableGame td.col02 {
	padding:17px 10px;
	text-align:left;
}
.tableGame td.col03 {
	padding:11px 5px;
}
.tableGame td.col03 .radio,
.tableEvent td.col03 .radio {
	margin:0 0 4px;
}
.tableGame .checkbox {
	margin-left:5px;
}
.tableGame .checkbox label {
	padding:0 13px 0 0 !important;
}
.filterBox {
	margin-bottom:12px;
}
.filterBox p,
.filterBox span {
	display:inline-block;
	vertical-align:middle;
}
.filterBox p { margin-right:25px;}
.filterBox .btnUpdate {
	padding-left:5px;
}
.filterBox .btnUpdate input {
	width:50px;
	padding:3px 4px 2px;
	border:1px solid #B8BECC;
}
.status {
	display:block;
	padding:0px 8px 2px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	border:1px solid #9B9B9B;
	background:#F3F3F3;
	text-align:center;
	width:60px;
	position:relative;
	z-index:10;
	behavior:url(../js/PIE.php);
}
.filterBox .status { margin-right:5px; }
.filterBox .status label { margin:0; }
.filterBox .size01 {
	width:180px;
}
.filterBox .size02 {
	width:100px;
}
.tableInfo select, .filterBox select {
	height:23px;
	padding:3px 17px 3px 11px;
	line-height:1;
}
.tableInfo select {
	padding-left:6px;
}
.tableInfo .active01 {
	background:#F1FAFF;
}
.tableInfo .active02 {
	background:#F5F5F5;
}
.tableInfo .active02 .point em {
	padding-top:14px;
}
.tableInfo .active03 {
	background:#CDCDCD;
}
.tableInfo .active03 td {
	padding:6px;
}
.tableInfo .active04 {
	background:#FFFBF0;
}
.tableInfo .active05 {
	background:#FFF0F0;
}
/********** game score **********/
.col242 {
	width:242px;
}
.colGray {
	background:#484848;
	color:#fff;
}
.tableMatch td {
	text-align:center;
	border-left:none;
	border-bottom:none;
	vertical-align:middle;
	background:#fff;
}
.tableMatch td.col01, .tableMatch td.col03 {
	width:410px;
}
.tableMatch td.col001, .tableMatch td.col003 {
	width:385px;
}
.tabHeader.rowSet li {
	float:left;
	border:1px solid #9B9B9B;
	border-left:none;
}
.tabHeader.rowSet li a {
	display:block;
	width:211px;
	background:#f5f5f5;
	font-size:36px;
	color:#000;
	padding-top:5px;
	padding-bottom:6px;
	text-align:center;
}
.tabHeader.rowSet li a.active, .tabHeader.rowSet li a:hover {
	background:#afafaf;
	color:#fff;
	text-decoration:none;
}
.tabHeader.rowSet li a.active {
	width:210px;
}
.tableMatch.tabContent {
	display:none;
}
#game01.tabContent {
	display:table;
}
.tableMatch.tabContent tr:first-child td {
	border-top:none;
}
.tableMatch td .number1 {
	font-size:14px;
	padding:3px 0 0 0;
	display:inline-block;
}
.tableMatch td .name {
	font-size:36px;
	display:inline-block;
	padding:0 0 4px 0;
}
.tableMatch td .noteText {
	font-size:18px;
}
.tableMatch td .score {
	font-size:88px;
	line-height:1.2;
}
.tableMatch td.borderWhite {
	border-right:hidden;
}
.tableMatch td.bgLine {
	background:url(../img/admin/bg_line.gif) repeat-y 22px 0;
	padding-left:30px;
	padding-right:35px;
}
.tableOut {
	border-left:1px solid #9b9b9b;
	border-bottom:1px solid #9b9b9b;
}
.tableMatch td .number2 {
	font-size:26px;
}
.tableMatch td .number2 em {
	padding:0 23px 0 0;
}
.tableMatch td .team {
	font-size:72px;
	line-height:1.2;
	font-weight:normal;
}
.tableMatch td.last {
	border-top:none;
}
.setList .size90 {
	width:90px;
	font-size:30px;
	padding-top:13px;
	height:60px;
}
.tableMatch td.setColumn {
	padding-left:6px;
	padding-right:6px;
	text-align:left;
	background:#fff;
	border-left:none;
}
.tableMatch td.setColumn span {
	float:right;
}
.tableMatch td.setColumn span:first-child {
	float:left;
}
.setList {
	padding:0 0 9px 0;
}
.setList li {
	background:url(../img/admin/bg_line02.gif) no-repeat 97px 50%;
	margin:0 0 10px 0;
}
input[type="text"].sizeBig {
	width:100%;
	padding-top:12px;
	height:60px;
	line-height:30px;
	font-size:14px;
	color:#a3a3a3;
}
input[type="text"].sizeBig.focusField,
input[type="text"].sizeBig.fillField {
	color:#000;
}
.winPlayer {
	text-align:center;
	padding:0 17px 2px 19px;
}
.winPlayer em {
	display:inline-block;
	padding:3px 0 0 0;
	color:#606060;
	font-size:24px;
}
#pageLogin #contents {
	min-height:auto!important;
}
.more {
	padding:5px 5px 28px;
	text-align:center;
}
.wrapRowList {
	padding:12px 0 2px;
}
.rowList {
	padding-bottom:12px;
	position:relative;
}
.rowList .title {
	display:inline-block;
	vertical-align:middle;
	padding-right:5px;
	color:#606060;
	font-weight:bold;
}
.rowList.w1 .title {
	width:70px;
}
.rowList.w2 .title {
	width:110px;
}
.rowList.w3 .title {
	width:35px;
}
.rowList.w4 .title {
	width:95px;
}
.rowList.w5 .title {
	width:55px;
}
.listOption li {
	display:inline-block;
	width:500px;
	padding-right:10px;
	vertical-align:middle;
}
.listOption li:first-child {
	width:400px;
}
.listOption .rowList {
	padding:0;
}
.listOption .select {
	display:inline-block;
	margin-right:5px;
	vertical-align:middle;
}
.addBox {
	position:relative;
}
.addBox p.add {
	position:absolute;
	top:9px;
	right:-1px;
}
.listInput li {
	float:left;
	padding-left:25px;
	color:#606060;
}
.listInput li:first-child {
	padding-left:0;
}
.listInput li span {
	display:inline-block;
	width:40px;
	display:3px;
	color:#606060;
	font-weight:bold;
}
.listInput li span.w103 {
	width:103px;
}
.listInput li .labelCss {
	margin-right:0;
}
.listTrial li {
	display:inline-block;
	padding:0 17px 0 0;
	vertical-align:middle;
}
.listTrial .title {
	width:55px;
	display:inline-block;
	vertical-align:middle;
	font-weight:bold;
	color:#606060;
}
.listTrial li .radio input[type="radio"] + label {
	padding-right:3px;
}
.tableStyle .rowTitle td {
	text-align:center;
	font-weight:bold;
	color:#606060;
	background:#ebebeb;
	padding-top:9px;
	height:auto;
}
.tableStyle td.width01 {
	width:202px;
	text-align:center;
}
.tabBox {
	display:none;
}
#tab01 {
	display:block;
}
.tab {
	margin:-10px 0 20px;
}
.tab li {
	float:left;
	width:590px;
	margin-left:20px;
}
.tab01 li {
	width:160px;
}
.tab li:first-child {
	margin:0;
}
.tab li a {
	display:block;
	border:1px solid #999;
	text-align:center;
	text-decoration:none;
	color:#000;
	padding:5px 5px 6px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	position:relative;
	behavior:url(../js/PIE.php);
}
.tab li a:hover,
.tab li.active a {
	background:#4a4a4a;
	color:#FFF;
}
.tabArea {
	width:100%;
}
.CSVList li {
	display:inline-block;
	padding-left:25px;
	vertical-align:middle;
}
.CSVList li:first-child {
	padding:0;
}
.CSVList li .text {
	padding:0 13px 0 0;
	font-weight:bold;
}
.CSVList li .unselected {
	padding:0 0 0 7px;
}
.fileUpload {
	display:inline-block;
	position:relative;
	overflow:hidden;
	margin-right:5px;
	padding:5px 0;
	vertical-align:middle;
}
.fileUpload input.file {
	position:absolute;
	top:0;
	right:0;
	width:200px;
	margin:0;
	padding:0 0 10px 0;
	padding:0;
	font-size:200px;
	cursor:pointer;
	opacity:0;
	filter:alpha(opacity=0);
}
.fileUpload span {
	display:inline-block;
	position:relative;
	width:150px;
	padding:2px 3px 4px;
	background:#4a4a4a;
	border:1px solid #606060;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	color:#FFF;
	font-weight:normal;
	text-align:center;
	behavior:url(../js/PIE.php);
}
span.uploadFile {
	display:inline-block;
	min-width:60px;
	max-width:180px;
	overflow:hidden;
	vertical-align:middle;
}
.imageUpload {
	padding:7px 0 8px;
}
.imageUpload .image {
	display:inline-block;
	width:110px;
	height:110px;
	margin-right:15px;
	vertical-align:top;
}
.imageUpload .groupFile {
	display:inline-block;
	vertical-align:top;
}
.imageUpload .fileUpload {
	padding:0;
}
.CSVList .download a {
	display:block;
	color:#606060;
}
.CSVList .download span {
	display:block;
	padding-left:30px;
	background:url(../img/admin/icon_download.png) no-repeat 0 50%;
}
.orderList {
	margin-bottom:-16px;
	position:relative;
}
.orderList li {
	display:inline-block;
	vertical-align:middle;
	width:125px;
	padding:0 5px 16px 0;
}
#pageRotation .orderList li{
	width: auto !important;
}
.orderList li label {
	color:#000;
}
.orderList li input {
	margin-right:6px;
	text-align:center;
}
.rowList .titleRadio {
	font-weight:bold;
	color:#000;
	display:inline-block;
	vertical-align:middle;
	width:67px;
}
.scoreList {
	margin:0 -25px 0 0;
}
.scoreList label {
	display:inline-block;
	min-width:23px;
}
.scoreList li {
	display:inline-block;
	margin-right:15px;
	vertical-align:middle;
}
.tableStyle td .textBig,
.tableStyle th .textBig {
	font-size:15px;
}
.tableStyle span.size07 {
	display:inline-block;
}
.tableStyle span.size08 {
	display:inline-block;
}
.tableStyle span.red {
	color:#db2023;
}
.tableStyle em.dot {
	padding:0 2px;
}
.tableStyle em.line {
	padding:0 4px;
}
.tableStyle em.other {
	padding:0 6px 0 0;
}
.tableStyle01 th {
	padding:20px 18px;
	font-size:20px;
	font-weight:bold;
}
.tableStyle01 td {
	font-size:15px;
}
/********** Referee List Page **********/
.tableReferee th.col01 {
	width:97px;
}
.tableReferee th.col02 {
	width:261px;
}
.tableReferee th.col03 {
	width:74px;
}
.tableReferee th.col04 {
	width:146px;
}
.tableReferee th.col05 {
	width:99px;
}
.tableReferee th.col06 {
	width:58px;
}
.tableReferee th.col07 {
	width:80px;
}
.tableReferee td.col01 {
	text-align:center;
}
.tableReferee td.col01 .checkbox input[type="checkbox"] + label {
	margin:0;
	padding:0;
	padding-left:18px;
}
/********** All Game List Page **********/
.tableGeneral th.col01 {
	width:264px;
}
.tableGeneral td {
	padding:1px 10px 4px;
	font-size:62px;
	text-align:center;
}
.scoreList01 li {
	min-width:150px;
}
.tableClass td {
	text-align:left;
	padding-left:18px;
	padding-right:18px;
}
.tableClass td.col01 {
	width:128px;
}
.tableClass td.col02 {
	width:229px;
}
/********** infoList **********/
.infoList {
	margin-right:-2%;
}
.infoList li {
	float:left;
	width:48%;
	margin:0 2% 20px 0;
}
.infoList li.fullWidth {
	width:98%;
}
.infoList .otherWidth:nth-child(3n) {
	margin-right: 0;
}
.infoList .otherWidth {
	width:31.34%;
}
.infoList .otherWidth2:nth-child(2n+1) {
	margin-right: 0;
}
.infoList .otherWidth2 {
	width:48%;
}
.infoList li a {
	display:block;
	padding:37px 20px 39px;
	border:1px solid #989898;
	color:#5C5C5C;
	font-size:18px;
	font-weight:bold;
	text-align:center;
	text-decoration:none;
}

/********** groupList **********/
.wrapGroupList {
	margin-bottom:19px;
}
.groupList {
	float:left;
	width:910px;
}
.groupList li {
	display:inline-block;
	margin-right:5px;
	vertical-align:middle;
}
.groupList .select {
	height:50px;
	width:90px;
}
.groupList .select select {
	height:48px;
	padding:15px;
}
.groupList .radio {
	position:relative;
	width:70px;
	height:50px;
	padding:15px 5px;
	border:1px solid #B8BECC;
	border-radius:4px;
	-ms-border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	background:linear-gradient(#FCFEFD, #B4B6B3);
	cursor:pointer;
	behavior:url(../js/PIE.php);
}
.groupList .radio input[type="radio"] + label {
	margin:0;
	padding:0 0 0 25px;
	text-align:left;
}
.groupList .buttonCustom {
	width:80px;
	height:50px;
	border:1px solid #B8BECC;
}
.groupList .addButton {
	width:110px;
	padding:15px;
}
.groupList .addButton span {
	display:block;
	padding-left:20px;
	background:url(../img/admin/icon_plus01.png) no-repeat 0 50%;
}
.wrapGroupList .boxGroup {
	float:right;
	width:200px;
}
.wrapGroupList .leadBox li {
	width:200px;
	margin:0;
}

/********** inputGroup **********/
.inputGroup li {
	display:inline-block;
	vertical-align:middle;
}
.inputGroup li p {
	display:inline-block;
	vertical-align:middle;
}
.inputGroup01 li.checkbox {
	width:175px;
}
.inputGroup01 .checkbox input[type="checkbox"] + label {
	padding-right:0;
}

/********** excelTable **********/
.excelTable .col01 {
	width:299px;
}
.excelTable .col02 {
	width:439px;
}

/********** tableFinalist **********/
.tableFinalist .col001 {
	width:49px;
}
.tableFinalist .col002 {
	width:197px;
}
.tableFinalist .col003 {
	width:181px;
}
.tableFinalist .col004 {
	width:59px;
}
.tableFinalist .col005 {
	width:91px;
}
.tableFinalist th span {
	font-size:10px;
}
.tableFinalist td {
	padding:7px 5px;
	text-align:center;
}
.tableFinalist td.col01 {
	padding:7px 10px;
	text-align:left;
}
.tableFinalist td.col02 {
	padding:7px 10px;
}
.tableFinalist td span {
	display:block;
}
.tableFinalist td em {
	display:block;
	font-size:12px;
}
.tableFinalist td .score {
	min-height:39px;
	line-height:39px;
}
.tableFinalist td .input {
	margin-top:5px;
}
.tableFinalist td .input em {
	display:inline-block;
	margin-right:5px;
	width:10px;
	font-size:9px;
	font-weight:bold;
	line-height:1.1;
	vertical-align:middle;
}
.tableFinalist td .input input {
	display:inline-block;
	width:30px;
	height:25px;
	padding:2px;
	vertical-align:middle;
}
.tableFinalist select {
	height:42px;
}

/********** inputRow **********/
.inputRow {
	margin-bottom:-8px;
	text-align:center;
}
.inputRow .checkbox input[type="checkbox"] + label {
	width:55px;
	margin-right:0;
	padding-right:0;
	color:#FFF;
	font-size:16px;
	font-weight:bold;
}
.inputRow .input {
	display:inline-block;
	vertical-align:middle;
}
.inputRow .input label {
	color:#FFF;
	font-size:16px;
	font-weight:bold;
}
.inputRow span.with {
	display:inline-block;
	padding:0 6px;
	vertical-align:middle;
}
.inputRow .input input[type="text"] {
	width:70px;
}

/********** finalList **********/
.finalList {
	margin-right:-20px;
}
.finalList > li {
	float:left;
	width:590px;
	margin:0 20px 20px 0;
}
.finalList th {
	position:relative;
}
.finalList th .checkbox {
	position:absolute;
	top:4px;
	left:7px;
}
.finalList td {
	padding:7px 15px;
}
.finalList td.col01 {
	width:111px;
}
.finalList td.addButton {
	padding:0;
}
.finalList td.addButton a {
	display:block;
	padding:8px 10px 9px;
	background:#F3F3F3;
	color:#363A42;
	text-align:center;
}
.finalList td.addButton span {
	display:inline-block;
	padding-left:23px;
	background:url(../img/admin/icon_plus.png) no-repeat 0 50%;
}
.finalList .size01 {
	width:80px;
}
.finalList .size02 {
	width:180px;
}
.finalList .selectList li {
	float:left;
	margin-right:10px;
}
.finalList .select select {
	height:42px;
}
.finalList .addBox a {
	display:block;
	padding:31px 20px 39px;
	border:1px dotted #D9D9D9;
	color:#363A42;
	text-align:center;
	text-decoration:none;
}
.finalList .addBox span {
	display:inline-block;
	padding-left:24px;
	background:url(../img/admin/icon_plus.png) no-repeat 0 50%;
}
.headBox .headline2 {
	float:left;
}
.btnLinkList {
	float:right;
	margin-top:15px;
}
.btnLinkList li {
	float:left;
	margin-left:10px;
}
.btnLinkList li a {
	display:block;
	padding:5px;
	color:#FFF;
	background:#4A4A4A;
	border:1px solid #9B9B9B;
	border-radius:4px;
	text-decoration:none;
	width:100px;
	text-align:center;
}
.btnLinkList li a.active {
	background:#FFF;
	color:#000;
}