@charset "UTF-8";
/* ****************************************************************** 

	--monitor.css--

****************************************************************** */

html { color:#FFF; background:#000; overflow-y:auto; }
a:link, a:visited { color:#FFF; }
.pcStyle a:hover {
	color:#FFF;
	text-decoration:none;
}
body {
	min-width:320px;
}

/* ------------------------------------------------------------------
	Header styles
-------------------------------------------------------------------*/
#header {
	padding:15px 24px 18px 26px;
	border-bottom:1px solid #757575;
	line-height:1;
}
.headText {
	display:table-cell;
	vertical-align:middle;
	font-weight:bold;
	font-size:36px;
	width:63%;
	padding-right:1%;
}
.headText span {
	padding-left:35px;
}
.licence {
	font-size:24px;
	display:table-cell;
	vertical-align:middle;
	text-align:right;
}
.headerInner {
	display:table;
	width:100%;
}
@media screen and (max-width:1440px) {
	.headText {
		font-size:27px;
	}
	.headText span {
		padding-left:15px;
	}
	.licence {
		font-size:18px;
	}
}

@media screen and (max-width:1200px) {
	.headText {
		font-size:19px;
	}
	.licence {
		font-size:14px;
	}
}
@media screen and (max-width:767px) {
	#header {
		padding:15px 10px 18px 10px;
	}
	.headText {
		font-size:13px;
	}
	.headText span {
		padding-left:10px;
	}
	.licence {
		font-size:11px;
	}
}

@media screen and (max-width:480px) {
	#header {
		padding:15px 10px 18px 10px;
	}
	.headText {
		line-height:1.3;
	}
	.licence {
		line-height:1.3;
	}
}

/* ------------------------------------------------------------------
	Contents styles
-------------------------------------------------------------------*/
.infoText {
	padding:0 24px;
}
.headline1 {
	font-size:200px;
	line-height:1;
	padding:25px 0 21px 0;
	text-align:center;
}
.headline1 span {
	padding-right:80px;
}
.txt01 {
	font-size:72px;
	text-align:center;
}
.number01 {
	font-size:360px;
	line-height:1;
	text-align:center;
	position:relative;
	padding-bottom:18px;
}
.tableStyle {
	width:100%;
}
.tableStyle th,
.tableStyle td {
	border-bottom:1px solid #9b9b9b;
	border-left:1px solid #9b9b9b;
	width:33.33%;
	text-align:center;
	vertical-align:middle;
	line-height:1.1;
	padding:0 5px 6px 5px;
}
.tableStyle th:first-child,
.tableStyle td:first-child {
	border-left:none;
}
.tableStyle th {
	background:#FFF;
	color:#000;
	font-size:70px;
	border-top:1px solid #9b9b9b;
}
.tableStyle td {
	font-size:150px;
}
.tableStyle th .font {
	font-size:90px;
}
@media screen and (max-width:1440px) {
	.headline1 {
		font-size:151px;
	}
	.txt01 {
		font-size:54px;
		padding-top:7px;
	}
	.number01 {
		font-size:272px;
	}
	.tableStyle th,
	.tableStyle td {
		padding:7px 5px 9px 5px;
	}
	.tableStyle th {
		font-size:53px;
	}
	.tableStyle td {
		font-size:113px;
	}
	.tableStyle th .font {
		font-size:65px;
	}
}
@media screen and (max-width:1200px) {
	.headline1 {
		font-size:95px;
	}
	.txt01 {
		font-size:35px;
	}
	.number01 {
		font-size:172px;
		padding-top:5px;
	}	
	.tableStyle th {
		font-size:34px;
	}
	.tableStyle td {
		font-size:72px;
	}
	.tableStyle th .font {
		font-size:41px;
	}
}
@media screen and (max-width:767px) {
	.infoText {
		padding:0 10px;
	}
	.headline1 {
		font-size:47px;
		padding:15px 0 11px;
	}
	.headline1 span {
		padding-right:20px;
	}
	.txt01 {
		font-size:19px;
		padding-top:3px
	}
	.number01 {
		font-size:85px;
		padding-top:5px;
	}	
	.tableStyle th {
		font-size:17px;
	}
	.tableStyle td {
		font-size:36px;
	}
	.tableStyle th .font {
		font-size:20px;
	}
}
@media screen and (max-width:320px) {
	.infoText {
		padding:0 10px;
	}
	.headline1 {
		font-size:35px;
		padding:15px 0 11px;
	}
	.headline1 span {
		padding-right:15px;
	}
	.txt01 {
		font-size:16px;	
		padding-top:3px
	}
	.number01 {
		font-size:65px;
		padding-top:5px;
	}	
	.tableStyle th {
		font-size:14px;
	}
	.tableStyle td {
		font-size:28px;
	}
	.tableStyle th .font {
		font-size:17px;
	}
}
/* ------------------------------------------------------------------
	table styles
-------------------------------------------------------------------*/
.wrapTable {
	border-right:1px solid #000;
}
.wrapTable tr.borderCol td {
	border-right:1px solid #000;
}
.tableDetail {
	margin-bottom:10px;
}
.tableDetail table {
	width:100%;
}
.tableDetail th,
.tableDetail td {
	border-bottom:1px solid #9B9B9B;
	border-left:1px solid #9B9B9B;
	text-align:center;
}
.tableDetail th:first-child,
.tableDetail td:first-child {
	border-left:1px solid #000;
}
.tableDetail th {
	display:table-cell;
	background:#F9F9F9;
	color:#000;
	padding:14px 5px 24px;
	font-size:36px;
	font-weight:bold;
	line-height:1.35;
}
.tableDetail td {
	padding:0 5px 0;
	font-size:105px;
	line-height:1.15;
}
.tableDetail .setCol {
	padding:0 5px 0 30px;
	text-align:left;
	min-width:150px;
	font-size:100px;
}
@media screen and (max-width:1920px) {
	.tableDetail .setCol {
		height:181px;
	}
	.rotationTable td {
		height:149px!important;
	}
}
.tableDetail .setCol em {
	display:block;
	padding-top:6px;
	font-size:36px;
}
.tableDetail tr.borderCol th,
.tableDetail tr.borderCol td {
	border-top:7px solid #FFF;
}
.tableDetail .col01 {
	width:166px;
}
.tableDetail .col02 {
	width:263px;
}
.tableDetail .col03 {
	width:421px;
}
.tableDetail .col04 {
	width:154px;
}
.tableDetail .sets {
	padding:0 5px;
	font-size:72px;
	line-height:1.23;
	text-align:left;
	width:60%;
}
.tableDetail .sets span {
	display:inline-block;
	padding-left:31px;
	vertical-align:bottom;
}
.tableDetail .sets .text {
	border-right:1px solid #9B9B9B;
	padding:0;
	width:424px;
	text-align:center;
}
.tableDetail .rest {
	padding:0 30px 0 0;
	border-left:none;
	width:40%;
}
.tableDetail .number {
	width:265px;
}
.rest ul {
	float:right;
}
.rest ul li {
	float:left;
	margin-left:31px;
	color:#000;
	font-size:48px;
	line-height:1;
}
.rest ul li:first-child {
	margin:0;
}
.rest ul li span.restCell01 {
	display:inline-block;
	vertical-align:middle;
	margin-right:14px;
	padding:2px 14px 4px 16px;
	border-radius:6px;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border:3px solid #000;
	line-height:1;
	position:relative;
	z-index:10;
	behavior:url(../js/PIE.htc);
}
.rest ul li span.restCell02 {
	display:inline-block;
	vertical-align:middle;
	font-weight:bold;
}
.tableDetail .place {
	padding-right:20px;
	border-left:none;
	font-size:64px;
	text-align:right;
}

@media screen and (max-width:1770px) {
	.tableDetail td,
	.tableDetail th {
		padding:4px 5px;
		vertical-align:middle;
	}
	.tableDetail th {
		font-size:26px;
	}
	.tableDetail td {
		font-size:60px;
	}
	.tableDetail .setCol {
		padding:4px 5px 14px 15px;
		min-width:115px;
		font-size:50px;
	}
	.tableDetail .setCol em {
		font-size:18px;
	}
	.tableDetail td.icon img {
		height:40px;
	}
	.tableDetail .col01 {
		width:12%;
		padding:4px 2px;
	}
	.tableDetail .col02 {
		width:16%;
	}
	.tableDetail .col03 {
		width:22%;
	}
	.tableDetail .col04 {
		padding:4px 2px;
		min-width:40px;
		width:12%;
	}
	.tableDetail tr.borderCol th,
	.tableDetail tr.borderCol td {
		border-top-width:5px;
	}
	.tableDetail .sets {
		font-size:40px;
		line-height:1.3;
	}
	.tableDetail .sets span {
		padding-left:15px;
	}
	.tableDetail .sets .text {
		width:45%;
	}
	.tableDetail .rest {
		padding-right:10px;
	}
	.tableDetail .place {
		padding-right:10px;
		font-size:35px;
	}
	.tableDetail .number {
		min-width:50px;
		width:20%;
	}
	.rest ul li {
		margin-left:15px;
		font-size:25px;
	}
	.rest ul li span.restCell01 {
		padding:2px 7px 4px 8px;
		margin-right:5px;
		border-width:2px;
	}
}
@media screen and (max-width:1024px) {
	.tableDetail th {
		font-size:18px;
	}
	.tableDetail td {
		font-size:30px;
	}
	.tableDetail .setCol {
		padding:4px 5px 7px 10px;
		font-size:25px;
	}
	.tableDetail .setCol em {
		font-size:14px;
	}
	.tableDetail td.icon img {
		height:30px;
	}
	.tableDetail tr.borderCol th,
	.tableDetail tr.borderCol td {
		border-top-width:3px;
	}
	.tableDetail .sets {
		font-size:22px;
		line-height:1.7;
	}
	.tableDetail .place {
		font-size:17px;
	}
	.rest ul li {
		margin-left:10px;
		font-size:15px;
	}
}
@media screen and (max-width:640px) {
	.tableDetail th,
	.tableDetail td {
		font-size:11px;
	}
	.tableDetail .setCol {
		font-size:12px;
	}
	.tableDetail .setCol em {
		font-size:10px;
	}
	.tableDetail td.icon img {
		height:15px;
	}
	.tableDetail tr.borderCol th,
	.tableDetail tr.borderCol td {
		border-top-width:2px;
	}
	.tableDetail .sets {
		font-size:12px;
		line-height:2.4;
		width:40%;
	}
	.tableDetail .sets span {
		padding-left:5px;
	}
	.tableDetail .rest {
		padding-right:10px;
		min-width:150px;
	}
	.tableDetail .place {
		font-size:10px;
	}
	.tableDetail .number {
		width:10%;
	}
	.rest ul li {
		font-size:10px;
		margin-left:5px;
	}
	.rest ul li span.restCell01 {
		border-width:1px;
		margin-right:2px;
	}
	
}




.tableInfo {
	min-width:1850px;
}
#pageScoreList {
	min-width:1850px;
}
.groupIn {
	display:table;
	width:100%;
}
.groupOut {
	padding:11px 17px 11px 20px;
}
.tableEvent {
	width:100%;
}
.groupOut p.text {
	display:table-cell;
	vertical-align:middle;
	width:117px;
	font-size:24px;
	text-align:left;
}
.select {
	display:block;
	overflow:hidden;
	border:1px solid #B8BECC;
	border-radius:4px;
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	background:#FFF url(../img/admin/icon_arrow03.gif) no-repeat 100% 50%;
	-pie-background:url(../img/admin/icon_arrow03.gif) no-repeat 100% 50%,url(../img/admin/bg_select01.gif) no-repeat 0 0;
	position:relative;
	z-index:10;
	behavior:url(../js/PIE.php);
}
select::-ms-expand{
	display:none;
}
.select select {
	width:100%;
	width:145%\0;
	border:none;
	background:none;
	cursor:pointer;
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
}
@media screen and (-ms-high-contrast:active), (-ms-high-contrast:none) {
.select select {
	width:100%;
	}
}
:root .select select {
	width:145%\9;
}
select:-moz-focusring {
	color:transparent;
	text-shadow:0 0 0 #000;
}
.select select option {
	width:100%;
	outline:0;
}
/* radio styles */
.radio {
	display:inline-block;
	vertical-align:middle;
	overflow:hidden;
	position:relative;
}
.radio input[type="radio"] {
	position:absolute;
	float:left;
	left:0;
	width:18px;
	height:18px;
	margin:0;
	padding:0;
	cursor:pointer;
	opacity:0;
}
.radio input[type="radio"] + label {
	display:block;
	background:url(../img/admin/icon_radio01.gif) 0 0 no-repeat;
	height:18px;
	padding:0 18px 0 25px;
	color:#606060;
	cursor:pointer;
}
.radio input[type=radio]:focus + label {
	background:url(../img/admin/icon_radio01.gif) 0 0 no-repeat;
}
.radio input[type=radio]:checked + label,
.radio input[type=radio]:focus:checked + label,
.radio input[type=radio]:active + label,
.radio input[type=radio]:active:checked + label {
	background:url(../img/admin/icon_radio02.gif) 0 0 no-repeat;
}

.groupList {
	display:table-cell;
	vertical-align:middle;
}
.groupList li {
	display:inline-block;
	margin-right:5px;
	vertical-align:middle;
}
.groupList .select {
	height:45px;
	width:90px;
}
.groupList .select select {
	height:45px;
	padding:11px;
}
.groupList .radio {
	position:relative;
	width:132px;
	height:22px;
	padding:11px 5px;
	border:1px solid #B8BECC;
	border-radius:4px;
	-ms-border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	background:linear-gradient(#FCFEFD, #B4B6B3);
	cursor:pointer;
	behavior:url(../js/PIE.php);
}
.groupList .radio input[type="radio"] + label {
	margin:0;
	padding:0 0 0 25px;
	font-size:14px;
	color:#000;
	text-align:left;
}
.groupList .buttonCustom {
	width:80px;
	height:50px;
	border:1px solid #B8BECC;
}
.wrapGroupList .boxGroup {
	float:right;
	width:200px;
}
.wrapGroupList .leadBox li {
	width:200px;
	margin:0;
}
.licenceTable {
	width:310px;
	display:table-cell;
	/*vertical-align:middle;*/
	font-size:14px;
	text-align:right;
}

.tableInfo {
	margin-bottom:20px;
}
.tableInfo table {
	width:100%;
	/*margin-bottom:20px;*/
}
.tableInfo th, .tableInfo td {
	border:1px solid #9B9B9B;
	height:33px;
}
.bgGray td {
	height:20px;
}
.tableInfo th {
	padding:4px 2px 4px;
	background:#484848;
	color:#FFF;
	text-align:center;
}
.tableInfo td {
	/*line-height:1.5;*/
	word-break: break-all;
}
.tableEvent th {
	font-size:12px;
}
.tableEvent th span {
	display:block;
	font-size:7px;
}
.tableEvent td {
	padding:2px 5px 2px;
	text-align:left;
	font-size:14px;
}
.tableEvent td.col01 {
	padding:4px 2px 4px;
}
.tableEvent tr.bgWhite td {
	background:#FFF;
	color:#000;
	font-size:18px;
	text-align:center;
	border-top:1px solid #9B9B9B;
}
.tableEvent tr.rowTitle td {
	background:#FFF;
	color:#000;
	font-size:10px;
	text-align:center;
}
.listTable  {
	border-top:1px solid #9B9B9B;
}
.tableEvent tr.bgWhite td.alignLeft {
	text-align:left;	
}
.tableEvent tr.bgWhite td.alignLeft span {
	padding-left:10px;
}
.tableEvent td.colBorder {
	border-right:4px solid #9B9B9B;
}
.tableEvent td.center {
	text-align:center;
}
.tableEvent td.col16 {
	padding:4px 2px 4px;
}
.tableEvent td.col32 {
	padding:4px 2px 4px;
}
.tableEvent tr.bgGray td {
	background:#4e4e4e;
	color:#FFF;
	font-size:14px;
	text-align:center;
}
.groupElement {
	display:table-cell;
	vertical-align:middle;
}
.tableEvent td span.number {
	display:block;
	border-bottom:1px solid #fff;
	margin:-3px -5px;
	padding:0 5px 3px; 
	opacity:0.6;
	filter:alpha(opacity=60);
	color:#fff;
}
.tableInfo01 .tableEvent th,
.tableInfo01 .tableEvent td {
	padding-top:8px;
	padding-bottom:8px;
}
.tableInfo01 .tableEvent td {
	height:40px; 
}
.tableInfo01 .tableEvent tr.rowTitle td {
	padding-top:14px;
	padding-bottom:16px;
}
.listTable li {
	float:left;
	width:50%; 
}
.tableEvent tr.rowSelect td{
	color:#F9E922; 
}
.licenceTable strong {
	font-size:24px;
	display:inline-block;
	padding:0 0 3px 0;
	color:#F9E922;
	vertical-align:middle;
}
.licenceTable span {
	font-size:18px;
	display:inline-block;
	padding:0 0 3px 3px;
	color:#F9E922;
	vertical-align:middle;
}