@charset "UTF-8";
/* ****************************************************************** 

	--style.css--

	1. Style setting
		1-1. FontColor styles
		1-2. Headline styles

	2. Layout setting
		2-1. Base styles
		2-2. Header styles
		2-3. Navi styles
		2-4. Main styles
		2-5. Side styles
		2-6. Footer styles

****************************************************************** */

/*==================================================================
	1. Style setting
===================================================================*/

/* ------------------------------------------------------------------
	1-1. FontColor styles
-------------------------------------------------------------------*/
html { color:#000; }
a:link, a:visited { color:#06C; }
.pcStyle a:hover {
	color:#06C;
	text-decoration:none;
}
.touchHover,
.noTapColor,
button { -webkit-tap-highlight-color:rgba(0,0,0,0); }

.pcDisplay {
	display:block;
}
.spDisplay {
	display:none;
}
@media screen and (max-width:640px) {
	.pcDisplay {
		display:none;
	}
	.spDisplay {
		display:block;
	}
}
/*==================================================================
	2. Monitor custom
===================================================================*/
#pageScoreList .tableEvent td {
	text-align:right;
}
