@charset "UTF-8";
/* ****************************************************************** 

	--user.css--

****************************************************************** */

html { color:#000; background:#FFF; overflow:auto; }
a:link, a:visited { color:#000; }
.pcStyle a:hover {
	color:#000;
	text-decoration:none;
}
body { min-width:1280px; overflow:auto; }
/* ------------------------------------------------------------------
	Common styles
-------------------------------------------------------------------*/
* {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
#contents {
	margin-top:23px;
}
.viewInner {
	width:1200px;
	margin:0 auto;
}
#footer {
	background:#484848;
	color:#FFF;
	font-size:14px;
	text-align:center;
}
#footer.fix {
	position:fixed;
	left:0;
	right:0;
	bottom:0;
}
#copyright {
	margin:0 auto;
	min-width:960px;
	width:100%;
	padding:10px 10px 13px;
}
.headline1 {
	padding-bottom:28px;
	color:#5C5C5C;
	font-size:30px;
	font-weight:bold;
}
.headline2 {
	background:#1976D2;
	color:#FFF;
	padding:13px 20px 14px;
	font-size:18px;
	font-weight:bold;
}
.headline2.pink {
	background:#F06292;
}
.headline3 {
	float:left;
	font-size:30px;
}
.tag {
	position:relative;
	float:right;
	min-width:120px;
	margin-top:4px;
	padding:7px 5px 11px;
	border-radius:20px;
	-ms-border-radius:20px;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	background:#FFF;
	color:#198BDB;
	font-size:18px;
	font-weight:bold;
	text-align:center;
	behavior:url(../js/PIE.php);
}
.contentsBlock,
.contentsBlock01 { padding-bottom:40px; }
.headContents {
	margin-bottom:40px;
	padding-top:20px;
	background:#1976D2;
	color:#FFF;
}
.headSection {
	background:#1565C0;
}

/*-- tabLink --*/
.tabLink {
	margin:15px 0 0 -18px;
}
.tabLink li {
	float:left;
	margin-left:18px;
}
.tabLink a {
	display:block;
	color:#FFF;
	width:286px;
	padding:9px 5px 10px;
	border:2px solid #FFF;
	border-bottom:none;
	background:#4791DC;
	text-align:center;
	line-height:30px;
	font-size:16px;
	font-weight:bold;
	text-decoration:none;;
	text-align:center;
}
.contentsBlock01 .tabLink a {
	background:#F481A8;
}
.tabLink a:hover,
.tabLink .active a {
	border-color:#FFF;
	background:#FFF;
	color:#000;
}
.contentsBlock01 .buttonActive {
	background-color:#F06292;
	border-color:#EC407A;
}
.contentsBlock01 .headContents {
	background:#F06292;
}
.contentsBlock01 .headSection {
	background:#E91E63;
}
.headSection .headline2 { background:none; display:inline-block; }
.headSection .eventsList {
	float:right;
	padding:10px 20px 0 0;
	text-align:right;
	width:700px;
}
.section { margin-bottom:30px; }
/* ------------------------------------------------------------------
	Contents styles
-------------------------------------------------------------------*/
/*-- button --*/
.buttonActive {
	display:block;
	background-color:#1976D2;
	color:#FFF !important;
	margin:0 auto;
	padding:6px 5px 8px;
	max-width:135px;
	width:100%;
	border-bottom:5px solid #1565C0;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	font-size:14px;
	font-weight:bold;
	text-align:center;
	text-decoration:none;
	overflow:hidden;
	outline:none;
	box-sizing:border-box;
	position:relative;
	z-index:1;
	behavior:url(../js/PIE.php);
}
.buttonBack a {
	display:block;
	background-color:#C8C8C8;
	color:#FFF !important;
	margin:0 auto;
	padding:13px 5px;
	width:100%;
	border-bottom:5px solid #B3B3B3;
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	font-size:20px;
	font-weight:bold;
	text-align:center;
	text-decoration:none;
	overflow:hidden;
	outline:none;
	position:relative;
	z-index:1;
	behavior:url(../js/PIE.php);
}
/*-- table --*/
.tableList  table,
.tableUser table { width:100%; }
.tableList {
	border-left:1px solid #9B9B9B;
}
.tableList td {
	padding:10px 20px 13px;
	border-right:1px solid #9B9B9B;
	border-bottom:1px solid #9B9B9B;
	font-size:14px;
}
.tableList .col01 {
	padding:12px 5px 10px;
	width:169px;
	text-align:center;
}

.tableUser th,
.tableUser td {
	border:1px solid #9B9B9B;
	text-align:center;
	font-size:14px;
}
.tableUser th {
	padding:5px 0 6px;
	background:#484848;
	color:#FFF;
}
.tableUser td {
	padding:7px 2px 10px;
	line-height:1.45;
}
.tableUser td span {
	font-size:11px;
}
.tableUser td.col01 {
	padding-left:10px;
	font-weight:bold;
	text-align:left;
}
.tableUser td.col02 {
	border:2px solid #1976D2;
	color:#5C5C5C;
	font-weight:bold;
}
.tableUser td.point {
	padding:4px 2px 5px;
	font-weight:bold;
}
.tableUser td.point span {
	display:block;
	padding:2px 0 1px;
	font-weight:normal;
}
.tableUser .active01 {
	background:#F1F8FE;
}
.tableUser .active02 {
	background:#DDEEFE;
}
.tableResult th.col01 {
	width:29px;
}
.tableResult th.col02 {
	width:39px;
}
.tableResult th.col03 {
	width:163px;
}
.tableResult th.col04 {
	width:158px;
}
.tableResult th.col05 {
	width:117px;
}
.tableResult th.col06 {
	width:19px;
}
.tableResult th.col07 {
	width:114px;
}
.tableResult th.col08 {
	width:110px;
}
.tableResult th.col09 {
	width:283px;
}
.tableResult th.col10 {
	width:272px;
}
.tableSingle th.col01 {
	width:49px;
}
.tableSingle th.col02 {
	width:156px;
}
.tableSingle th.col03 {
	width:119px;
}
.tableSingle th.col04 {
	width:69px;
}
.tableSingle th.col05 {
	width:39px;
}
.tableSingle th.col06 {
	width:108px;
}
.tableSingle th.col07 {
	width:182px;
}
.tableSingle th.col08 {
	width:171px;
}
.tableSingle th.col09 {
	width:59px;
}
.tableSingle th.col10 {
	width:29px;
}
.tableSingle th.col11 {
	width:90px;
}
.tableSingle th.col12 {
	width:157px;
}
.tableSingle th.col13 {
	width:136px;
}
.tableSingle th.col14 {
	width:88px;
}
.tableSingle th.col15 {
	width:276px;
}
.tableSingle th.col16 {
	width:252px;
}
.tableGroup th.col01 {
	width:49px;
}
.tableGroup th.col02 {
	width:312px;
}
.tableGroup th.col03 {
	width:119px;
}
.tableGroup th.col04 {
	width:69px;
}
.tableGroup th.col05 {
	width:39px;
}
.tableGroup th.col06 {
	width:108px;
}
.tableGroup th.col07 {
	width:528px;
}
.tableGroup td.col01 {
	padding-left:20px;
}
.tableEvent th.col01 {
	width:49px;
}
.tableEvent th.col02 {
	width:312px;
}
.tableEvent th.col03 {
	width:351px;
}
.tableEvent th.col04 {
	width:99px;
}
.tableEvent th.col05 {
	width:119px;
}
.tableEvent th.col06 {
	width:461px;
}
.tableEvent th.col07 {
	width:499px;
}
.tableEvent th.col08 {
	width:163px;
}
.tableEvent th.col09 {
	width:203px;
}
.tableEvent th.col10 {
	width:372px;
}
.tableEvent th.col11 {
	width:390px;
}
.tableEvent td.col01 {
	padding-left:20px;
}
.tableTournament th.col01 {
	width:260px;
}
.tableTournament th.col02 {
	width:313px;
}
.tableTournament td {
	padding:18px 20px 20px;
	text-align:left;
}
.eventsList li {
	display:inline-block;
	vertical-align:middle;
	margin-left:7px;
	width:100px;
}
.eventsList li:first-child {
	margin:0;
}
.eventsList li a {
	position:relative;
	display:block;
	padding:4px 5px 7px;
	border:1px solid #FFF;
	font-size:14px;
	color:#000;
	background:#FFF;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	text-decoration:none;
	text-align:center;
	z-index:1;
	behavior:url(../js/PIE.php);
}
.eventsList li a:hover,
.eventsList li a.active {
	background:#0D47A1;
	border-color:#B8D0EC;
	color:#FFF;
}
.contentsBlock01 .tag {
	color:#F57BA3;
}
.contentsBlock01 .tableUser .active01 {
	background:#FEF1F6;
}
.contentsBlock01 .tableUser .active02 {
	background:#FBDDE7;
}
.contentsBlock01 .tableUser td.col02 {
	border-color:#F06493;
}
.contentsBlock01 .eventsList li a:hover,
.contentsBlock01 .eventsList li a.active {
	background:#AD1457;
	border-color:#F8BBD0;
}
.statusLive {
	position:relative;
}
.statusLive span {
	color:#5C5C5C;
	font-size:14px !important;
	font-weight:bold;
}
.statusLive span::after {
	position:absolute;
	top:-2px;
	left:-2px;
	content:"";
	width:100%;
	height:98.5%;
	border:2px solid #1976D2;
}
.contentsBlock01 .statusLive span::after {
	border:2px solid #F06493;
}