@charset "UTF-8";
/* ****************************************************************** 

	--admin.css--

	1. Style setting
		1-1. FontColor styles
		1-2. Headline styles

	2. Layout setting
		2-1. Base styles
		2-2. Header styles
		2-3. Main styles
		2-4. Footer styles

****************************************************************** */

/*==================================================================
	1. Style setting
===================================================================*/

/* ------------------------------------------------------------------
	1-1. FontColor styles
-------------------------------------------------------------------*/
html { color:#000; background:#FFF; }
a:link, a:visited { color:#000; }
.touchHover,
.noTapColor,
button { -webkit-tap-highlight-color:rgba(0,0,0,0); }

/* ------------------------------------------------------------------
	1-2. Headline styles
-------------------------------------------------------------------*/
.headline1 {
	color:#FFF;
	font-size:14px;
	line-height:40px;
	text-align:center;
}
.headline2 {
	padding:13px 17px 17px;
	background:#F6F6F6;
	border-bottom:1px solid #D8D8D8;
	font-size:16px;
	font-weight:bold;
}
.headline2 span {
	font-size:12px;
	font-weight:normal;
}
.headline3 {
	margin:15px 10px 0;
	padding:5px 10px 7px;
	/*border-bottom:1px solid #D1D1D1;*/
	background:#484848;
	color:#FFF;
	font-size:14px;
}

/*==================================================================
	2. Layout setting
===================================================================*/

/* ------------------------------------------------------------------
	2-1. Base setting
-------------------------------------------------------------------*/
body { min-width:320px; }
.buttonStyle {
	margin:25px 10px 30px;
}
.buttonStyle input,
.buttonStyle a {
	display:block;
	width:100%;
	height:60px;
	border-radius:2px;
	background:#010101;
	color:#FFF;
	font-size:20px;
	text-align:center;
	text-decoration:none;
	font-weight:bold;
	line-height:60px;
}

/* ------------------------------------------------------------------
	2-2. Header styles
-------------------------------------------------------------------*/
#header {
	position:relative;
	width:100%;
	height:40px;
	background:#484848;
}
#header .backButton {
	position:absolute;
	top:12px;
	left:9px;
}
#header .backButton img {
	width:11px;
}
#header .logoutButton {
	position:absolute;
	top:7px;
	right:5px;
}
#header .logoutButton img {
	width:26px;
}
/* ------------------------------------------------------------------
	2-3. Main styles
-------------------------------------------------------------------*/
/* --- Top styles --- */
.radioList {
	margin-bottom:-10px;
	padding:9px 10px 0;
}
.radioList .radio {
	display:inline-block;
	position:relative;
	overflow:hidden;
	margin:0 0 12px;
	vertical-align:middle;
}
.radio input[type="radio"] {
	position:absolute;
	left:0;
	float:left;
	width:18px;
	height:18px;
	margin:0;
	padding:0;
	opacity:0;
}
.radio input[type="radio"] + label {
	display: block;
	height: 18px;
	padding: 0 44px 0 25px;
	background:url("../img/gymnastics/admin/referee/icon_radio02.png") no-repeat 0 0;
	background-size:18px auto;
	color: #606060;
}
.radio input[type="radio"]:focus + label {
	background:url("../img/gymnastics/admin/referee/icon_radio02.png") no-repeat 0 0;
	background-size:18px auto;
}
.radio input[type="radio"]:checked + label,
.radio input[type="radio"]:focus:checked + label,
.radio input[type="radio"]:active + label,
.radio input[type="radio"]:active:checked + label {
	background:url("../img/gymnastics/admin/referee/icon_radio01.png") no-repeat 0 0;
	background-size:18px auto;
}
input[type="submit"], input[type="button"] {
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	border:none;
	cursor: pointer;
	outline:none;
}
.select {
	display:block;
	overflow:hidden;
	border:1px solid #B8BECC;
	border-radius:4px;
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	background:#FFF url(../../img/admin/icon_arrow03.gif) no-repeat 100% 50%;
	-pie-background:url(../../img/admin/icon_arrow03.gif) no-repeat 100% 50%,url(../../img/admin/bg_select01.gif) no-repeat 0 0;
	position:relative;
	z-index:10;
	behavior:url(../js/PIE.php);
}
select::-ms-expand{
	display:none;
}
.select select {
	width:100%;
	width:145%\0;
	border:none;
	background:none;
	cursor:pointer;
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
}
/* --- Login styles --- */
#logo {
	padding-top:18px;
	font-size:30px;
	color:#5C5C5C;
}
#logo img {
	width:250px;
	height:auto;
}
.buttonCustom {
	display:block;
	min-height:16px;
	padding:3px 2px 4px;
	background:#000;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
	border:1px solid #BBB;
	color:#FFF;
	text-align:center;
	line-height:1;
	cursor:pointer;
	text-decoration:none;
	position:relative;
	z-index:10;
}
input[type="password"],
input[type="text"] {
	position:relative;
	z-index:10;
}
input[type="password"],
input[type="text"], select {
	height:42px;
	padding:12px 15px 13px;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	background:#FFF;
	border:1px solid #B8BECC;
	box-shadow:inset 0 1px 2px #DEDCDB;
	color:#373B43;
	font-size:14px;
	outline:none;
}
.loginBlock {
	text-align:center;
}
.boxLogin {
	position:relative;
	margin:18px 0;
	padding:16px 8px;
	border:1px solid #E5E5E5;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
	background:#FCFCFC;
	z-index:10;
}
.loginBlock input.buttonCustom {
	width:100%;
	margin:17px 0 15px;
	padding:17px 0 21px;
	border:0;
	font-size:20px;
	outline:0;
	cursor:pointer;
}
.boxLogin .textBox input {
	width:100%;
	height:65px;
	margin:0;
	padding:23px 10px 24px;
	color:#D6D6D6;
	-webkit-border-radius:0 0 2px 2px;
	-moz-border-radius:0 0 2px 2px;
	border-radius:0 0 2px 2px;
	border:1px solid #E5E5E5;
	box-sizing:border-box;
	box-shadow:none;
	font-size:18px;
	line-height:1.2;
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
}
.boxLogin .textBox .idField {
	-webkit-border-radius:2px 2px 0 0;
	-moz-border-radius:2px 2px 0 0;
	border-radius:2px 2px 0 0;
	border-bottom:0;
}
.boxLogin .textBox .idField.fillField,
.boxLogin .textBox .passwordField.fillField {
	background:#FFF;
}
.boxLogin.refereeLogin .select {
	margin-bottom:11px;
	border-color:#E5E5E5;
	border-radius:2px;
}
.boxLogin.refereeLogin .select select {
	height:63px;
	border-radius:0px;
	font-size:18px;
	box-shadow:0 0 0;
}
.boxLogin.refereeLogin .textBox input {
	padding:21px 17px 24px;
	border-radius:2px;
}
.loginBlock .remember {
	float:left;
	font-size:12px;
}
.loginBlock .remember input {
	float:left;
}
.loginBlock .forget {
	float:right;
	font-size:12px;
}
p.remember > input {
	margin:0;
	height:16px;
	width:16px;
	float:left;
	position:absolute;
	left:10px;
	opacity:0;
}
p.remember > label {
	padding:0 0 0 23px;
}
p.remember > input + label {
	display:block;
	background:url(../img/gymnastics/admin/referee/icon_check01.gif) 0 0 no-repeat;
	height:16px;
}
/* Checked styles */
p.remember > input[type=checkbox]:focus + label {
	background:url(../img/gymnastics/admin/referee/icon_check01.gif) 0 0 no-repeat;
}
p.remember > input[type=checkbox]:checked + label,
p.remember > input[type=checkbox]:focus:checked + label,
p.remember > input[type=checkbox]:active + label,
p.remember > input[type=checkbox]:active:checked + label {
	background:url(../img/gymnastics/admin/referee/icon_check02.gif) 0 0 no-repeat;
}
/* --- Score_d Score_e Score_line styles --- */
.scoreTable {
	margin:15px 10px;
}
.scoreTable table {
	width:100%;
}
.scoreTable td {
	width:33.33%;
	height:60px;
}
.scoreTable td a {
	display:block;
	height:60px;
	border-left:1px solid #5A5A5E;
	border-bottom:1px solid #5A5A5E;
	background:#87878A;
	color:#FFF;
	font-size:40px;
	text-align:center;
	text-decoration:none;
}
.scoreTable td a.darkButton {
	background:#545457;
}
.scoreTable td a img {
	width:29px;
}
.scoreTable tr td:first-child a {
	border-left:none;
}
.scoreTable tr:last-child td {
	border-bottom:none;
}
.wrapScore {
	margin:0 10px 30px;
}
.wrapScore .score {
	float:left;
	width:66.66%;
	font-size:72px;
	line-height:0.8;
	letter-spacing:-4px;
}
.wrapScore .smallButton {
	float:right;
	width:33.33%;
	margin:0;
}
/* --- Score_time styles --- */
.buttonList {
	margin:15px 10px 12px;
}
.buttonList li {
	float:left;
	width:33.33%;
	text-align:center;
}
.buttonList li:first-child {
	text-align:left;
}
.buttonList li:last-child {
	text-align:right;
}
.buttonList li a {
	display:block;
}
.buttonList a img {
	width:90px;
}
.wrapTime {
	margin:0 10px -10px;
}
.wrapTime .title {
	margin-bottom:5px;
	font-size:15px;
	font-weight:bold;
	text-align:center;
}
.wrapTime .time {
	margin-bottom:13px;
}
.wrapTime .time input {
	width:100%;
	height:auto;
	padding:0;
	font-size:70px;
	text-align:center;
	vertical-align:middle;
}
/* --- Player_list styles --- */
.itemText {
	padding-bottom:46px;
}
.itemText li {
	display:table;
	width:100%;
	padding:6px 13px 8px 15px;
	border-bottom:1px solid #D8D8D8;
}
.itemText li div {
	display:table-cell;
	width:auto;
	padding-right:10px;
	vertical-align:middle;
	font-size:16px;
	font-weight:bold;
}
.itemText li div p.numberText {
	padding-bottom:5px;
}
.itemText li p.button {
	display:table-cell;
	width:72px;
	vertical-align:middle;
}
.itemText li p.button a {
	display:block;
	padding:6px 10px;
	background:#4A4A4A;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	color:#FFF;
	font-size:16px;
	font-weight:bold;
	text-decoration:none;
	text-align:center;
}
.itemText li p.correctButton a {
	background:#9B9B9B;
}
.itemText li p.yetButton a {
	padding:5px 10px;
	background:#FFF;
	border:1px solid #4A4A4A;
	color:#000;
	font-weight:normal;
}
.itemText li p.textButton a {
	background:#FFF;
	color:#000;
	font-weight:normal;
}
.itemText li p.alreadyButton span {
	display:block;
	padding:5px 10px;
	background:#FFF;
	border:1px solid #B9B9B9;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	color:#C4C4C4;
	font-size:16px;
	text-decoration:none;
	text-align:center;
}
.itemText li.hide div {
	color:#C4C4C4;
}
.tabBox {
	display:none;
}
#tab01 {
	display:block;
}
.tab {
	padding:6px 10px 0;
	border-bottom:1px solid #D8D8D8;
}
.tab li {
	float:left;
	margin-right:2%;
	margin-top:4px;
	width:49%;
}
.tab li:last-child {
	margin-right:0;
}
.tab li a {
	display:block;
	background:#EBEBEB;
	text-align:center;
	text-decoration:none;
	color:#000;
	font-size:12px;
	font-weight:bold;
	position:relative;
}
.tab li a span {
	display:block;
	margin-bottom:-1px;
	padding:19px 10px 14px;
	border:1px solid #9B9B9B;
	vertical-align:bottom;
}
.tab li.active a span {
	margin-top:-2px;
	padding:18px 10px 14px;
	background:#FFF;
	border-bottom:1px solid #FFF;
	border-top:4px solid #9B9B9B;
}

/* --- Modal Styles --- */
.modal {
	display:none;
	position:absolute;
	z-index:100;
	min-width:280px;
	min-height:350px;
	border:1px solid #FFF;
	background:#000;
	color:#FFF;
	text-align:center;
}
.modal .close {
	position:absolute;
	top:-1px;
	right:-1px;
}
.modal .modalContent {
	padding:63px 19px 39px;
}
.modal .question {
	font-size:16px;
	font-weight:bold;
}
.modal .score {
	margin:9px 0 18px;
	font-size:74px;
	letter-spacing:-5px;
}
.modal .button input {
	width:100%;
	padding:14px 10px 12px;
	border-radius:2px;
	background:#9B9B9B;
	color:#FFF;
	font-size:16px;
	font-weight:bold;
}
.modal .button01 input {
	padding:14px 10px 10px;
	border:1px solid #FFF;
	background:transparent;
}
.overlay {
	display:none;
	position:fixed;
	top:0;
	left:0;
	z-index:99;
	width:100%;
	height:100%;
}


/* ------------------------------------------------------------------
	2-4. Footer styles
-------------------------------------------------------------------*/
#footer {
	height:32px;
	background:#484848;
	color:#FFF;
	font-size:10px;
	line-height:32px;
	text-align:center;
}
#footer.fix {
	position:fixed;
	left:0;
	right:0;
	bottom:0;
}
