@charset "UTF-8";
/* ****************************************************************** 

	--style.css--

	1. Style setting
		1-1. FontColor styles
		1-2. Headline styles

	2. Layout setting
		2-1. Base styles
		2-2. Header styles
		2-3. Main styles
		2-4. Footer styles

****************************************************************** */

/*==================================================================
	1. Style setting
===================================================================*/

/* ------------------------------------------------------------------
	1-1. FontColor styles
-------------------------------------------------------------------*/
html { color:#333; background:#FFF; }
a:link, a:visited { color:#06C; }
.touchHover,
.noTapColor,
button { -webkit-tap-highlight-color:rgba(0,0,0,0); }

/*==================================================================
	2. Layout setting
===================================================================*/

/* ------------------------------------------------------------------
	2-1. Base setting
-------------------------------------------------------------------*/
body { min-width:320px; }

/* ------------------------------------------------------------------
	2-2. Header styles
-------------------------------------------------------------------*/
.headline1 {
	padding:15px 10px;
	color:#5C5C5C;
	font-size:16px;
	font-weight:bold;
}
.headline2 {
	background:#1976D2;
	color:#FFF;
	padding:6px 10px 7px;
	font-size:14px;
	font-weight:bold;
}
/* ------------------------------------------------------------------
	2-3. Main styles
-------------------------------------------------------------------*/
.headContents {
	padding:15px 10px;
	border-bottom:1px solid #2196F3;
	background:#1976D2;
}
.contentsBlock01 .headContents {
	border-bottom:1px solid #F8BBD0;
	background:#F06292;
}
.headContents .headline3 {
	margin-bottom:10px;
	color:#FFF;
	font-size:16px;
	float:left;
}
.tag {
	position:relative;
	float:right;
	min-width:60px;
	margin:4px 0 10px;
	padding:3px 10px;
	border-radius:20px;
	-ms-border-radius:20px;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	background:#FFF;
	color:#198BDB;
	font-size:12px;
	font-weight:bold;
	text-align:center;
}
.headContents select {
	width:100%;
	height:40px;
	padding:5px 7% 5px 10px;
	border:none;
	border-radius:0;
	background:#FFF url(../img/gymnastics/user/icon_arrow.png) 97% 50% no-repeat;
	background-size:10px auto;
	-webkit-background-size:10px auto;
	font-size:12px;
	font-weight:bold;
	box-sizing:border-box;
	-webkit-appearance:none;
	-moz-appearance:none;
	-ms-appearance:none;
	-o-appearance:none;
	appearance:none;
}
.headContents select option {
	height:40px;
	padding:10px;
}
.section .headline2 {
	padding:12px 15px 12px 10px;
	border-bottom:1px solid #2196F3;
	background:#1565C0;
}
.accordion .headline2 {
	padding:5px 15px 5px 10px;
}
.accordion .headline2 span {
	padding:5px 0px;
	display:block;
	background:url(../img/gymnastics/user/icon_blue_plus.png) 100% 50% no-repeat;
	-webkit-background-size:20px;
	background-size:20px;
}
.contentsBlock01 .section .headline2 {
	border-bottom:1px solid #F8BBD0;
	background:#E91E63;
}
.contentsBlock01 .accordion .headline2 span {
	background-image:url(../img/gymnastics/user/icon_pink_plus.png);
}
.accordion.active .headline2 span {
	background:url(../img/gymnastics/user/icon_blue_minus.png) 100% 50% no-repeat;
	-webkit-background-size:20px;
	background-size:20px;
}
.contentsBlock01 .accordion.active .headline2 span {
	background-image:url(../img/gymnastics/user/icon_pink_minus.png);
}
.accordionBox {
	display:none;
}
.more {
	padding:20px;
	text-align:center;
}
.buttonBack {
	margin-bottom:50px;
}
.buttonBack a {
	position:relative;
	z-index:1;
	overflow:hidden;
	display:block;
	width:90%;
	margin:0 auto;
	padding:7px 5px;
	border-radius:3px;
	border-bottom:3px solid #B3B3B3;
	background-color:#C8C8C8;
	color:#FFF !important;
	font-size:12px;
	font-weight:bold;
	text-align:center;
	text-decoration:none;
}
/*-- button --*/
.buttonActive {
	display:block;
	background-color:#1976D2;
	color:#FFF !important;
	margin:0 auto;
	padding:7px;
	width:75px;
	border-bottom:3px solid #1565C0;
	border-radius:3px;
	-webkit-border-radius:3px;
	font-size:10px;
	font-weight:bold;
	text-align:center;
	text-decoration:none;
	overflow:hidden;
	outline:none;
}
.contentsBlock01 .buttonActive {
	background-color:#F06292;
	border-color:#EC407A;
}
.tableList  table { width:100%; }
.tableList {
	border-left:1px solid #CDCDCD;
}
.tableList td {
	padding:5px 8px 6px;
	border-right:1px solid #CDCDCD;
	border-bottom:1px solid #CDCDCD;
	font-size:10px;
}
.tableList .col01 {
	width:12%;
	text-align:center;
}
.eventsList {
	background:#FFF;
	margin-left:-11px;
	padding:10px 10px 2px;
	text-align:center;
}
.eventsList li {
	display:inline-block;
	vertical-align:middle;
	margin:0 0 9px 10px;
	min-width:45px;
	width:29%;
}
.eventsList li a {
	display:block;
	padding:10px 5px;
	border:1px solid #0D47A1;
	font-size:14px;
	color:#000;
	background:#FFF;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	text-decoration:none;
	text-align:center;
}
.eventsList li a:hover,
.eventsList li a.active {
	background:#0D47A1;
	color:#FFF;
}
.contentsBlock01 .eventsList li a {
	border-color:#E91E63;
}
.contentsBlock01 .eventsList li a:hover,
.contentsBlock01 .eventsList li a.active {
	background:#E91E63;
}
/* ------------------------------------------------------------------
	2-4. Footer styles
-------------------------------------------------------------------*/
#footer {
	padding:9px 10px;
	border-top:1px solid #D1D1D1;
	background:#484848;
	color:#FFF;
	font-size:9px;
	text-align:center;
}
#footer.fix {
	position:fixed;
	left:0;
	right:0;
	bottom:0;
	z-index:10;
}

/* ------------------------------------------------------------------
	2-5. Common styles
-------------------------------------------------------------------*/
.tableResult {
	table-layout:fixed;
}
.tableResult table {
	width:100%;
}
.tableResult th {
	padding:5px 2px 7px;
	border:1px solid #9B9B9B;
	border-top:none;
	background:#484848;
	color:#FFF;
	font-size:10px;
	text-align:center;
}
.tableResult th.col01 {
	width:16%;
	min-width:50px;
}
.tableResult th.col02 {
	width:19%;
	min-width:70px;
}
.tableResult th.col03 {
	min-width:30px;
	width:3%;
}
.tableResult th.col04 {
	min-width:40px;
	width:6%;
}
.tableResult th.col05 {
	min-width:59px;
	width:10%;
}
.tableResult td {
	padding:10px 4px;
	border:1px solid #9B9B9B;
	color:#000;
	font-size:12px;
	text-align:center;
	vertical-align:top;
}
.tableResult .active01 {
	background:#F1F8FE;
}
.tableResult .active02 {
	background:#DDEEFD;
}
.tableResult .point {
	font-weight:bold;
}
.tableResult td.col01 {
	text-align:left;
	font-weight:bold;
}
.tableResult td.col02 {
	border:2px solid #1976D2;
	color:#5C5C5C;
	font-weight:bold;
	text-align:center;
}
.tableResult td span {
	display:inline-block;
	vertical-align:top;
	text-align:left;
}
.tableResult td em {
	display:inline-block;
	font-size:10px;
}
.tableResult td span.size01 {
	width:20%;
}
.tableResult td span.size02 {
	width:68%;
}
.tableResult td span.size03 {
	width:38%;
}
.tableResult td span.size04 {
	width:50%;
}
.tableResult td span.size05 {
	width:13%;
}
.tableResult td span.size06 {
	width:33%;
}
.contentsBlock01 .tableResult .active01 {
	background:#FEF1F6;
}
.contentsBlock01 .tableResult .active02 {
	background:#FBDDE7;
}
.contentsBlock01 .tableResult td.col02 {
	border-color:#F06292;
}
.tournamentList {
	border-top:1px solid #CDCDCD;
}
.tournamentList li {
	padding:12px 10px;
	border-bottom:1px solid #CDCDCD;
	background:url(../img/gymnastics/user/icon_arrow01.png) no-repeat 98% 50%;
}
.tournamentList li p {
	font-size:12px;
	line-height:1.5;
}
.tournamentList .link a {
	display:block;
	color:#000;
	font-size:14px;
	font-weight:bold;
	text-decoration:none;
}